<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Art Gallery</title>

    <link rel="stylesheet" href="/style-new.css" />
  </head>

  <body>
    <header class="show-on-scroll">
      <h1>New Product Page</h1>
      <a href="/paintings"
        ><button class="btn-grad">Go back to product list</button></a
      >
    </header>
    <main>
      <div id="page-wrap">
        <div id="contact-area">
          <form class="form" action="/paintings" method="POST">
            <label for="Name">Name:</label>
            <input type="text" name="name" />
            <label for="Name">Artist:</label>
            <input type="text" name="artist" />
            <label for="Name">Year:</label>
            <input type="text" name="year" />
            <label for="Name">Medium:</label>
            <input type="text" name="medium" />
            <label for="Name">Style:</label>
            <input type="text" name="style" />
            <label for="Name">Dimensions:</label>
            <input type="text" name="dimensions" />
            <label for="Name">Owner:</label>
            <input type="text" name="owner" />
            <label for="Name">Price:</label>
            <input type="text" name="price" />
            <label for="Name">Image:</label>
            <input type="text" name="img" />
            <label for="Name">Rating:</label>
            <input type="text" name="rating" />
            <input type="submit" name="" value="Add Painting" />
          </form>
        </div>
      </div>
    </main>
    <footer><%- include('./partials/footer.ejs')%></footer>
  </body>
</html>
