<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Art Gallery</title>

    <link rel="stylesheet" href="/new.css" />
  </head>

  <body>
    <header class="show-on-scroll">
      <h1>New Painting Page</h1>
      <a href="/paintings"
        ><button class="btn-grad">Go back to painting index</button></a
      >
    </header>
    <main>
      <div class="form-structor">
        <div class="signup">
          <form action="/paintings" method="POST">
            <label for="Name">Name:</label>
            <input type="text" name="name" /><br /><br />
            <label for="Name">Artist:</label>
            <input type="text" name="artist" /><br /><br />
            <label for="Name">Year:</label>
            <input type="text" name="year" /><br /><br />
            <label for="Name">Medium:</label>
            <input type="text" name="medium" /><br /><br />
            <label for="Name">Style:</label>
            <input type="text" name="style" /><br /><br />
            <label for="Name">Dimensions:</label>
            <input type="text" name="dimensions" /><br /><br />
            <label for="Name">Owner:</label>
            <input type="text" name="owner" /><br /><br />
            <label for="Name">Price:</label>
            <input type="text" name="price" /><br /><br />
            <label for="Name">Image:</label>
            <input type="text" name="img" /><br /><br />
            <label for="Name">Rating:</label>
            <input type="text" name="rating" /><br /><br />
            <input type="submit" name="" value="Add Painting" />
          </form>
        </div>
      </div>
    </main>
    <footer><%- include('./partials/footer.ejs')%></footer>
  </body>
</html>
