<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
    <title>The Art Gallery</title>
    <link rel="stylesheet" href="/new.css" />
  </head>

  <body>
    <header>
      <h1>New Painting Page</h1>
      <a href="/paintings"
        ><button class="btn-grad">Go back to painting index</button></a
      >
    </header>
    <main>
      <div class="form-structor">
        <div class="signup">
          <form action="/paintings" method="POST">
            <div class="new-card">
              <div class="row">
                <div class="name"><label for="Name">Title:</label></div>
                <div class="input"><input type="text" name="title" /></div>
              </div>
              <div class="row">
                <div class="name"><label for="Name">Date:</label></div>
                <div class="input"><input type="text" name="date" /></div>
              </div>
              <div class="row">
                <div class="name"><label for="Name">Dimensions:</label></div>
                <div class="input"><input type="text" name="dimensions" /></div>
              </div>
              <div class="row">
                <div class="name"><label for="Name">Medium:</label></div>
                <div class="input"><input type="text" name="medium" /></div>
              </div>
              <div class="row">
                <div class="name"><label for="Name">Name:</label></div>
                <div class="input"><input type="text" name="name" /></div>
              </div>
              <div class="row">
                <div class="name"><label for="Name">Owner:</label></div>
                <div class="input"><input type="text" name="owner" /></div>
              </div>
              <div class="row">
                <div class="name"><label for="Name">Category:</label></div>
                <div class="input"><input type="text" name="category" /></div>
              </div>

              <div class="row">
                <div class="name"><label for="Name">Image:</label></div>
                <div class="input"><input type="text" name="image" /></div>
              </div>
              <div class="add-btn"></div>
              <input type="submit" name="" value="Add Painting" />
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer><%- include('./partials/footer.ejs')%></footer>
  </body>
</html>
