body {
  margin: 0;
  padding: 0;
  background-color: rgb(184, 184, 184);
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #333;
}
/* HEADER */
header {
  background: rgb(231, 0, 35);
  display: flex;
  justify-content: space-around;
  align-items: baseline;

  color: rgb(255, 255, 255);
}
h1 {
  font-family: "Avenir Next", Open Sans, sans-serif;
}
/* Index */
/* MAIN */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
}
img {
  max-height: 100%;
  display: block;
}

.main-1 {
  width: 50%;
  padding: 3rem;
  align-items: center;
  height: 70vh;
  overflow-y: scroll;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  text-align: right;
}
div [class="index"] {
  background-color: rgb(215, 193, 70);
  margin-left: auto;
  margin-right: 0;
}
.main-2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  padding: 1rem;
  height: 80vh;
  overflow-y: scroll;
}
.parent-white {
  display: flex;

  margin: 1rem;
}
.card-yellow {
  background: rgb(255, 204, 0);

  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

/* FOOTER */
footer {
  background-color: rgb(74, 49, 95);
}

.content {
  margin: 4em auto;
  max-width: 740px;
  width: 80%;
}

/* Text styles */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff)
      format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff)
      format("woff");
}
