/* This is a lovely trick for getting content to go full width in a container */
.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

/* Header stuff */

header {
  opacity: 0;
  -webkit-transition: opacity 0.5s 0.25s ease-out;
  transition: opacity 0.5s 0.25s ease-out;
}

header.is-visible {
  opacity: 1;
}

.blur-round-img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.heading {
  -webkit-transform: translate(-50%, calc(-50% + 1em));
  transform: translate(-50%, calc(-50% + 1em));
}

.is-visible .blur-round-img {
  -webkit-transform: none;
  transform: none;
}

.is-visible .heading {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-72%, -50%);
}
.heading {
  -webkit-transition: -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform;
}
.home-btn {
  margin-left: 75%;
  margin-top: 100px;
}
/* PAINTING */

.inline-img {
  border-top: 3rem solid #1f1e1d;
  border-left: 3rem solid #464341;
  border-right: 3rem solid #35312d;
  border-bottom: 3rem solid #53504d;
  /* border-image: url(../img/border.png) 33% repeat; */

  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  max-width: 700px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(4em) rotateZ(-10deg);
  transform: translateY(4em) rotateZ(-10deg);
  -webkit-transition: opacity 0.3s 0.25s ease-out,
    -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out,
    -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out,
    -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  width: 90%;

  will-change: transform, opacity;
}

.inline-img.is-visible {
  opacity: 1;
  -webkit-transform: rotateZ(-0deg);
  transform: rotateZ(-0deg);
}
/* Styles for the animated quote */

.rating-text {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  height: 4em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.rating-text:after {
  background: -webkit-linear-gradient(
    top,
    #fee,
    rgba(255, 238, 238, 0.4) 30%,
    rgba(255, 238, 238, 0.4) 70%,
    #fee
  );
  background: linear-gradient(
    to bottom,
    #fee,
    rgba(255, 238, 238, 0.4) 30%,
    rgba(255, 238, 238, 0.4) 70%,
    #fee
  );
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
