body {
  margin: 0;
  padding: 0;
  background-color: rgb(184, 184, 184);
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #333;
}
/* HEADER */
header {
  background: rgb(231, 0, 35);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-family: "Abril Fatface", cursive;
  color: rgb(255, 255, 255);
}

/* MAIN */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img {
  max-height: 100%;
  display: block;
}

/* Index */
.main-1 {
  width: 50%;
  padding: 3rem;
  align-items: center;
}
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  text-align: right;
}
div [class="index"] {
  background-color: tomato;
  margin-left: auto;
  margin-right: 0;
}
.main-2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  padding: 1rem;
}
.parent-white {
  display: flex;

  margin: 1rem;
}
.card-yellow {
  background: rgb(255, 204, 0);

  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
}
/* SHOW */
.wall {
  background-color: sienna;
}
figure {
  display: flex;
}
figure img {
  height: 500px;
}
.figcaption {
  background-color: yellow;
  text-align: left;
  cursor: -webkit-zoom-in;
  height: 25vh;
}

/* FOOTER */
footer {
  background-color: rgb(74, 49, 95);
}

.content {
  margin: 4em auto;
  max-width: 740px;
  width: 80%;
}
